h1{
    width: 50%;
    font-family: Verdana;
    background-color: blue;
    color: red;
}
p{
    font-family: Arial;
    text-align: right;
}
h2{
    background-color: black;
    width: 50%;
    color: red;
}
#p2{
    color: yellow;

}
body{
    background-color: powderblue;
}
nav{
    text-align: center;
    background-color: coral;
}